aiohttp==2.2.0
pyyaml==3.12
colorlog==2.10.0
python-whois==0.6.5
psutil==5.4.1

# server only
aiohttp-jinja2==0.13.0
markdown==2.6.8
boto3==1.4.4

# screenshot only
pillow==4.1.1
selenium==3.4.3

# worker only
requests==2.14.2
