html {
    /* always show a scrollbar to prevent tabs jumping around */
    overflow-y: scroll;
}
body {
    font-family:Sans-serif;
    margin-top:20px;
    text-align:center;
    user-select:none;
}

#content {
    max-width:1280px;
    margin:auto;
}

h1,h2,h3 {
    font-weight:normal;
}

ul.tabs a:visited, ul.tabs a {
    text-decoration:none;
    color:inherit;
}

h1.main {
    color:#444;
    font-size:32px;
    text-align:center;
    width:100%;
    -webkit-appearance: none;
    max-width:600px;
    display:inline-block;
}

.powered_by {
    font-size:12px;
    font-style: italic;
    margin:5px;
}

.screenshot {
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    margin:7px 0;
    background:white;
}

li.webapp {
    display:inline-block;
    padding:10px 0;
    margin:0;
    background:white;
    text-align:center;
    width:386px;
}

li.webapp a:visited, li.webapp a {
    text-decoration:none;
    color:black;
}

li.webapp ul.webapp-failed-healthchecks {
    position:absolute;
    top:50px;
    text-align:center;
    width:100%;
    padding:0;
}

li.webapp ul.webapp-failed-healthchecks li {
    color: white;
    background: #dd0000;
    padding:8px 12px;
    margin:10px;
    list-style:none;
}

.title {
    margin:6px;
    font-size:20px;
    text-align:center;
}

footer {
    margin:50px 0;
}

.hidden {
    visibility:hidden;
}

.header {
    color:#555;
}

.indicator {
    background:#eee;
    border:1px solid #ddd;
    width:4px;
    height:4px;
    position:absolute;
    right:0;
    top:0;
    margin:4px;
}

.description {
    color:#666;
}

ul.tabs {
    list-style:none;
    border-bottom:1px solid #ddd;
    text-align:left;
    cursor:pointer;
    padding:0;
    margin:50px 20px 30px 20px;
}


ul.tabs li {
    display:inline-block;
    position:relative;
    top:1px;
    color:grey;
    border:1px solid rgba(0,0,0,0);
}

ul.tabs > li > * {
    display:inline-block;
    margin:10px;
}

ul.tabs li.bad div.title {
    color:#dd0000 !important;
}

ul.tabs li.selected {
    color:#666;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid white;
    border-radius:3px 3px 0 0;
    display:inline-block;
}

ul.tabs > li.right {
    float:right;
}


ul.entities {
    padding:0;
    list-style:none;
}

ul.entities > li {
    list-style:none;
    display:inline-block;
    margin:18px;
    vertical-align:top;
    box-sizing: border-box;
    position:relative;
}

ul.entities > li.box {
    box-shadow:0 -3px 0 0 #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

/* simulate a butt-joint top border */
ul.entities > li.good {
    box-shadow:0 -3px 0 0 #00dd00;
}

ul.entities > li.bad {
    color:#dd0000;
    box-shadow:0 -3px 0 0 #dd0000;
    border-left:1px solid #dd0000;
    border-right:1px solid #dd0000;
    border-bottom:1px solid #dd0000;
}

ul.entities > li.bad.webapp img {
    opacity:0.5;
}

ul.entities > li.text {
    width:100%;
}

ul.entities > li.text > article {
    text-align:left;
    max-width:800px;
    min-height:36px;
    margin:0 auto;
    color:#444;
}

ul.entities > li.text > article img {
    margin:60px auto;
    display:block;
}

li.host {
    width:100%;
    min-width:384px;
    max-width:598px;
    text-align:left;
}


li.host > div.title {
    margin:15px 0;
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
}

@media (max-width: 1280px) {
    ul.tabs {
        margin-left:0;
        margin-right:0;
    }
}

@media (max-width: 800px) {
    .entities li {
        margin-left:0;
        margin-right:0;
    }
}

table {
    text-align:left;
    width:100%;
    border-collapse:separate;
    table-layout:fixed;
    color:#888;
    padding:10px;
}

table td {
    padding:5px 0;
}

table > thead > tr > th {
    font-size:18px;
    text-align:left; /* IE11 */
}

table th {
    font-weight:normal;
    color:#555;
    padding:5px 0;
    overflow:hidden;
}

table.metrics td.value {
    width:75px;
}

table.metrics td.min {
    text-align:right;
    width:30px;
    color:#999;
    font-size:11px;
}

table.metrics td.max {
    width:50px;
    color:#999;
    font-size:11px;
}

table.metrics div.meter {
    border:1px solid #ddd;
    width:92%;
    height:10px;
    margin:0 4% 1px 4%;
}

table.metrics div.meter div.bar {
    width:80%;
    background:#ddd;
    height:100%;
}

table.metrics tr.bad * {
    color:#dd0000;
}

table.metrics tr.bad div.meter {
    border:1px solid #dd0000;
}

table.metrics tr.bad div.meter div.bar {
    background:#dd0000;
}

@media (max-width: 500px) {
    table.metrics td.max,
    table.metrics td.min {
        /* instead of display:none so colspan still works */
        width:0;
        overflow:hidden;
    }
}

.number-healthy {
    color:#00dd00 !important;
}

.number-healthy::before {
    color:#00dd00;
    content: '\2714';
    padding-right:3px;
}

.number-healthy::after {
    content: ' ok';
}

.number-unknown {
    color:gray !important;
}

.number-unknown::after {
    content: ' unknown';
}

.number-unhealthy {
    color:#dd0000 !important;
}

.number-unhealthy::before {
    color:#dd0000;
    content: '\2718';
    padding-right:3px;
}

.number-unhealthy::after {
    content: ' failed';
}

.tab-warning::before {
    font-size:40px;
    position:absolute;
    color:#dd0000;
    content: '\26a0';
    top:-55px;
    margin-left:-20px;
    left:50%;
}

div.hud {
    position:fixed;
    top:25%;
    right:20px;
    margin-right:20px;
    height:50%;
}

div.hud-info {
    text-transform:uppercase;
    color:#ddd;
    transform: rotate(270deg);
    position:absolute;
    width:200px;
    left:-110px;
    top:93px;
    text-align:right;
}

span.hud-info-percent {
    color:#aaa;
}

div.hud-health {
    width:20px;
    height:100%;
    border: 1px solid #ddd;
    position:absolute;
}

div.hud-bar-healthy {
    position:absolute;
    bottom:0;
    background:#00dd00;
    width:100%;
    opacity:0.4;
}

div.hud-bar-unhealthy {
    background:#dd0000;
    width:100%;
    opacity:0.4;
    position:absolute;
}

@media (max-height: 500px), (max-width: 1400px) {
    div.hud {
        display:none;
    }
}
