{% if num_healthy %}
<li class="webapp">
    <h2 class="number-healthy">{{num_healthy}}</h2>
</li>
{% endif %}

{% if num_unknown %}
<li class="webapp">
    <h2 class="number-unknown">{{num_unknown}}</h2>
</li>
{% endif %}

{% if num_unhealthy %}
<li class="webapp">
    <h2 class="number-unhealthy">{{num_unhealthy}}</h2>
</li>
{% endif %}

<li>
    <table class="">
        <thead>
            <tr>
                <th>Entity</th>
                <th>Healthcheck</th>
                <th>Interval</th>
                <th>Healthy</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for h in healthchecks %}
            <tr {{'class="bad"' if h.result['healthy'] == False else ''}} title="{{h.description}}">
                <td><a href="/{{h.entity.tab}}#{{h.entity.id}}">{{h.entity.name}}</a></td>
                <td>{{h.label}}</td>
                <td>{{h.interval}}s</td>
                <td>
                {% if h.result['healthy'] == True %}
                    <span style="color:#00dd00">&#x2714;</span>
                {% elif h.result['healthy'] == None %}
                    ?
                {% else %}
                    <span style="color:#dd0000">&#x2718;</span>
                {% endif %}
                </td>
                {% if h.result.get('reason') %}
                    <td>{{h.result['reason']}}</td>
                {% elif h.result.get('value') %}
                    <td>{{h.result['value']}} is OK</td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</li>
