{# TODO group by class? (separate tables, entities) #}
<li>
    <table class="">
        <tr>
            <th>Entity</th>
            <th>Healthcheck</th>
            <th>Healthy</th>
            <th>Interval</th>
            <th>Exception</th>
        </tr>
        {% for h in healthchecks %}
        <tr {{'class="bad"' if h.result['healthy'] == False else ''}}>
            <td><a href="/{{h.entity.tab}}#{{h.entity.id}}">{{h.entity.name}}</a></td>
            <td>{{h.label}}</td>
            <td>
            {% if h.result['healthy'] == True %}
                <span style="color:#00dd00">&#x2714;</span>
            {% elif h.result['healthy'] == None %}
                ?
            {% else %}
                <span style="color:#dd0000">&#x2718;</span>
            {% endif %}
            </td>
            <td>{{h.interval}}s</td>
            <td>{{h.result.get('exception_msg','-')}}</td>
        </tr>
        {% endfor %}
    </table>
</li>
