{% extends "base.html" %}
{% block content %}

<ul class="tabs">
    <li class="right {{'selected' if tab == "unhealthy" else ''}}">
        <a href="/unhealthy" title="Entities that have failing healthchecks" class="number-bad">{{num_unhealthy}}</a>
    </li>
    <li class="right {{'selected' if tab == "unknown" else ''}}">
        <a href="/unknown" title="Entities that could not be checked recently" class="number-unknown">{{num_unknown}}</a>
    </li>
    <li class="right {{'selected' if tab == "healthy" else ''}}">
        <a href="/healthy" title="Entities that healthy" class="number-good">{{num_healthy}}</a>
    </li>
    {% if tabs|length > 1 %}
    {% for t in tabs %}
    <li class="{{'selected' if t == tab else ''}}"><a href="/{{'' if t == tabs[0] else t}}">{{t}}</a></li>
    {% endfor %}
    {% endif %}
</ul>

<ul class="entities">
    {% for entity in entities %}
        {% include "entities/"+entity.cls+".html" %}
    {% endfor %}
</ul>

{% endblock content %}
