{% extends "base.html" %}
{% block content %}

<ul class="tabs">
    <li class="right {{'selected' if tab == "healthchecks" else ''}}">
        {% if num_unknown + num_unhealthy %}
            <a class="tab-warning" href="/healthchecks" title="Problems detected">All checks</a>
        {% else %}
            <a href="/healthchecks">All checks</a>
        {% endif %}
    </li>
    {% for t in tabs %}
    <li class="{{'selected' if t == tab else ''}}">
        <a href="/{{'' if t == tabs[0] else t}}">{{t}}</a>
    </li>
    {% endfor %}
</ul>

<ul class="entities">
    {% for entity in entities %}
        {% include "entities/"+entity.cls+".html" %}
    {% endfor %}

    {% if healthchecks %}
        {% include "HealthChecks.html" %}
    {% endif %}
</ul>

<div class="hud">
    <div class="hud-info">
        System health {{percent_healthy}}%
    </div>
    <div class="hud-health">
        <div class="hud-bar-unhealthy" style="height:{{percent_unhealthy}}%;bottom:{{percent_healthy}}%"></div>
        <div class="hud-bar-healthy" style="height:{{percent_healthy}}%;"></div>
    </div>
</div>

{% endblock content %}
