<li class="box host {{"good" if entity.healthy else "bad" if entity.healthy == False else ""}}" title="{{entity.description}}">

    <div class="indicator"></div>
    <div class="title">{{entity.name}}</div>
    <table class="metrics">
        {% for h in entity.healthchecks %}
        <tr {{'class="bad"' if h.result['healthy'] == False else ''}} title="{{h.description}}">
            {% if 'bar_percentage' in h.result %}
                <th class="key">{{h.label}}</th>
                <td class="value">{{h.result.get('value')}}</td>
                <td class="min">{{h.result['bar_min']}}</td>
                <td> <div class="meter"><div class="bar" style="width:{{h.result['bar_percentage']}}%;"></div></div> </td>
                <td class="max">{{h.result['bar_max']}}</td>
            {% else %}
                <th class="key">{{h.label}}</th>
                <td class="value" colspan="4">{{h.result.get('value',h.result.get('exception_msg','-'))}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</li>

{% if entity == entities[-1] %} {% if entities|length > 1 %}
<li class="host hidden">Dummy to left/center align</li>
{% endif %} {% endif %}
