<li id="{{entity.id}}" class="box webapp {{"good" if entity.healthy else "bad" if entity.healthy == False else ""}}" title="Powered by {{entity.powered_by}}">
    <a href="{{entity.url}}" target="_blank">
        <div class="indicator"></div>
        <div class="title">{{entity.name}}</div>
        <img class="screenshot" src="{{entity.screenshot_url}}" width="{{entity.screenshot_width}}" height="{{entity.screenshot_height}}"/>
        <div class="description">{{entity.description}}</div>
    </a>
</li>

{% if entity == entities[-1] %}
<li class="webapp hidden" style="width:384px;">Dummy to left/center align</li>
<li class="webapp hidden" style="width:384px;">Dummy to left/center align</li>
{% endif %}
